body {
	background-color: white;
	font-family:"Helvetica Neue";
}

a {
	color:black;
	margin-top: 4px;
    /*text-decoration:none;*/
}

b {
    font-weight: 400;
}

.container {
	border-left: 1px solid gray;
}

.page {
	margin: 0 auto;
	width: 8.5in;
	height: 11in;
	background-color: white;
	overflow: hidden;
}

#followMe .item {
    margin-left: 11px;
}

#name .title {
	font-size: 45px;
}

.title {
	margin-top: 15px;
	font-size: 32px;
	font-weight: 340;
	/*background-color: blue;*/
}

.left-wrapper .title {
	margin-top: 20px;
}

#offer {
	float: right;
	margin-top: .4in;
	margin-right: .5in;
	font-weight: 300;
	font-size: 14px;
}

.item {
	/*margin-top: 5px;*/
	font-size: 18px;
	padding-top: 8px;
	padding-left: 10px;
	font-weight: 400;
	/*background-color: blue;*/
}

.position{
	/*margin-top: 5px;*/
	font-size: 15px;
	font-weight: 350;
	/*background-color: blue;*/
}


.secondary-item {
	font-size: 16px;
	font-weight: 400;
}

.item ul li:first-child {
	padding-top: 0px;
}

div .item:nth-child(1) {
	margin-top: 0px;
	padding-top: 0px;
}

.detail {
	font-size: 15px;
	padding-left: 10px;
	font-weight: 200;
}

#name .detail {
	padding-left: 0px;
}

#proficiency {
	margin-left: 17.5px;
}



.location {
	font-size: 12px;
	font-style: italic;
	font-weight: 200;
}

.secondary {
	font-size: 12px;
	font-weight: 200;
}

.date {
	font-style: italic;
	font-size: 12px;
	display: inline;
	float: right;
	margin-top: 3px;
	font-weight: 250;
}

#experience .date {
	margin-top: -15px;
}

#involvement .date {
	margin-top: -15px;
}

ul {
	margin: 2px auto;
	padding-left: 10px;
	list-style-type: none;

}

li .date {
	margin-top: 2px;
}
ul li::before{
	
	margin-left: -17.5px;
	position: absolute;
	content: '-'
	 
}

li {
	padding-top: 4px;
}

.item ul li:first-child {
	padding-top: 0px;
}

i {
	color: gray;
	width: 18px;
    margin-top: 4px;
}

.fa-python  {
    padding-left: 2px;
}


.left-wrapper {
	width: 2.8in;
	height: 10.75in;
	position: relative;
	float: left;
	margin: 0;
	padding: .21in .05in 0 .43in;
	/*background-color: orange;*/
}

.right-wrapper {
	width: 4.6in;
	height: 11in;
	position: relative;
	float: left;
	margin: 0;
	top: .29in;
	/*top: 0in;*/
	padding: 0 0 0 .1in;
	/*background-color: blue;*/
}

.research {
    /* color: #f23350; */
    font-style: normal;
}

.gsi {
	/* color: #fdb745; */
	font-style: normal;
}

.yahoo {
    /* color: #7B0099; */
 	/* color: #000000; */
  	font-style: normal;
}

.cap1 {
	/* color: #004879; */
	font-style: normal;
}

.allstate {
	/* color: #0076B8; */
	font-style: normal;
}

.redc {
	/* color: #D22F2F; */
	font-style: normal;
}

.first {
	/* color: #0066b3; */
	font-style: normal;
}

.eoh {
	/* color: #052b86; */
	font-style: normal;
}
